@import url("https://fonts.googleapis.com/css?family=Lato:300,700&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: all ease-in-out;
}
h1 {
  font: 700 4rem $heading;
}

h2 {
  font: 700 2rem $heading;
}
