@import url("https://fonts.googleapis.com/css?family=Lato:300,700&display=swap");
* {
  padding: 0;
  margin: 0;
}
h1 {
  font: 700 4rem $heading;
}

h2 {
  font: 700 2rem $heading;
}

// @mixin mQ($width) {
//   @media screen and (max-width: $width) {
//     @content;
//   }
// }
