.content {
  height: 120vh;
  background: url(../bg.jpg) no-repeat center center;
  background-size: cover;
}

header {
  width: 100%;
  background: $nav-bg;
  text-align: center;
  position: fixed;
  z-index: 999;
  .logo {
    color: $link;
  }
}
