nav {
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
  background: $nav-bg;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 1rem;
      margin-left: 1rem;
      a {
        color: $link;
        font-size: 1.2rem;
        font-weight: 300;
        font-family: $heading;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        &:hover {
          color: complement($nav-bg);
        }
      }
    }
  }
}
.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  display: flex;
  height: 100%;
  align-items: center;
  // pointer: cursor;
}

.hamburger {
  color: $link;
  font-size: 2rem;
}
