nav {
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
  background: $nav-bg;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  @include mQ(600px) {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include mQ(600px) {
      display: flex;
    }
    li {
      margin-bottom: 1rem;
      margin-left: 1rem;
      @include mQ(600px) {
        margin: 0 2rem;
      }
      a {
        color: $link;
        font-size: 1.2rem;
        font-weight: 300;
        font-family: $heading;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        &:hover {
          color: complement($nav-bg);
        }
        @include mQ(600px) {
          opacity: 1;
          position: relative;
          &::after {
            content: "";
            display: block;
            height: 6px;
            position: absolute;
            top: 2.8rem;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform ease-in-out 250ms;
            background: complement($nav-bg);
          }
          &:hover::after {
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}
.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  display: flex;
  height: 100%;
  align-items: center;
  @include mQ(600px) {
    display: none;
  }
}

.hamburger {
  color: $link;
  font-size: 2rem;
}
