@import "variables";
@import "base";
@import "content";
@import "nav";

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    // justify-content: flex-end;
  }

  nav ul li {
    margin: 0 2rem;
  }

  nav ul li a {
    opacity: 1;
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 5px;
      position: absolute;
      top: 2.8rem;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;

      background: complement($nav-bg);
    }
  }
}

nav ul li a:hover::after {
  transform: scale(1, 1);
}
